<div class="center hero-unit">
  <h1>Welcome to the gallery</h1>
  <p>
    Vestibulum facilisis quam non justo mattis facilisis. Pellentesque eu gravida nulla. Donec semper magna ut ipsum ultrices vestibulum. Suspendisse at enim vel purus pellentesque consectetur. Maecenas porttitor, tortor vel tincidunt faucibus, nunc elit porta augue, sed placerat orci massa et magna. Phasellus tellus turpis, blandit id ultricies a, fringilla vel elit. Pellentesque ut dui sed arcu malesuada suscipit.
  </p>
  <p>
    Phasellus vitae nisi ipsum. Quisque placerat justo eget lacus molestie tincidunt sed ac enim. Quisque ac lorem neque, id ultrices tellus. Maecenas lobortis orci sit amet dolor vestibulum pulvinar. Morbi et massa purus. Morbi feugiat blandit nulla sed facilisis. In purus justo, elementum id sagittis non, ultricies eget tortor. Sed blandit arcu et libero viverra ultricies. Donec iaculis, sapien condimentum tincidunt tempor, massa turpis scelerisque eros, quis laoreet quam mauris pellentesque nibh.
  </p>
  <%= link_to "Show me the galleries!", '#', class: "btn btn-large btn-primary" %>
</div>