<li class="span4">
  <%= link_to gallery_photo_path(photo.gallery, photo) do %>
      <%= image_tag photo.image.url(:thumb), class: "thumbnail" %>
  <% end %>
  <% if is_admin? %>
      <p>
        <%= link_to "Edit", edit_gallery_photo_path(photo.gallery, photo), class: "btn btn-primary btn-mini" %>
        <%= link_to "Delete", gallery_photo_path(photo.gallery, photo), method: :delete,
                    data: { confirm: "Delete #{photo.title}?" }, class: "btn btn-mini" %>
      </p>
  <% else %>

  <% end %>
</li>