<% provide(:title, @photo.title) %>

<h1><%= @photo.title %></h1>
<%= image_tag @photo.image.url(:lightbox), class: "thumbnail" %><br/>

<div class="btn-group">
  <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    Add to Cart
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% @photo.photo_prints.each do |photo_print| %>
        <%= link_to photo_print.print.name, line_items_path(photo_print_id: photo_print), method: :post %><br/>
    <% end %>
  </ul>
</div>