<li class="span3">
  <a href="#">
    <div class="thumbnail">
      <img src="http://placekitten.com/g/260/180"/>
      <div class="caption">
        <h3>Kitties</h3>
      </div>
    </div>
  </a>
</li>