<% provide(:title, "Galleries") %>

<h1>Galleries</h1>

<% if is_admin? %>
    <h3>
      <%= link_to "Add Gallery", new_gallery_path, class: "btn btn-primary" %>
    </h3>
<% end %>

<ul class="thumbnails">
  <%= render @galleries %>
</ul>

<%= will_paginate %>